<div>
  <canvas width="991" height="558" #canvas id="canvas" class="canvas" style="font-family: Palatino;">
    <img src="../assets/imgs/coffe.png" />
  </canvas>
  <img #image src="{{rutaImagen}}" class="canvas" (click)="getCoordinates($event)">
  <div style="display: inline;">
    <mat-form-field>
      <input matInput type="text" class="text" [(ngModel)]="texto">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" class="text" [(ngModel)]="fuente">
    </mat-form-field>
    <mat-form-field class="text">
      <mat-label class="text">Sube tu imagen</mat-label>
      <ngx-mat-file-input type="file" accept="image/*" (change)="onFileSelected($event.target.files)"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="addText(650, 250)">Go</button>
</div>
